<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IrregularButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1AEB1361D7ED05100766F5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1AEB14F1D7ED05100766F5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1AEB15A1D7ED05100766F5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
